*{
    color: black;
    font-family: 'Montserrat','Arial';
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
}

.wrapper{
    max-width: 1140px;
    margin: 0 auto;
}

header{
    background-color: white;
}

.nav-link{
    font-size: 18px;
    text-decoration: none;
    transition: 0.2s;
}

.nav-link:hover{
    color: orange;
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar{
    display: flex;
    gap: 42px;
}

.burgerking{
    display: none;
}

a{
    color: blueviolet;
}


.contentBlock{
    display: flex;
    margin-top:42px;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.contentBlock>h1{
    font-size: 3em;
}
.contentBlock>p{
    font-size: 1.3em;
    width: 670px;
}
.contentBlock>span{
    margin-top: 42px;
    font-size: 1.4em;
}

.squaresBlock{
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.squareText{
    margin-top: 30px;
    color: white;
    font-size: 2em;
}

.squareImg{
    width: 160px;
    max-width: 160px;
    aspect-ratio: 1/1;
}


.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.square{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 346px;
    height: 346px;
    background-color: blue;
}

footer{
    background-color: #1f1f1f;
    width: 100%;
    height: 256px;
    display: flex;
    justify-content: center;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.sample{
    color: white;
    padding-top: 54px;
}
.info-credits{
    color: white;
    padding-bottom: 54px;
}

.burgerking{
    border: none;
    background-image: url('sqr.png');
    background-repeat: no-repeat;
    background-size:contain;
    width: 18px;
    height: 18px;
}

@media (max-width: 1200px) {
    .square{
        width: 260px;
    }   
    .wrapper{
        max-width: 700px;
    }

    .burgerking{
        display: flex;
    }

    .nav-link{
        display: none;
    }

    .headerContainer{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 464px) {
     .wrapper{
        max-width: 500px;
    }
    .square{
        width: 340px;
        /*height: 244px;*/
    }   
    
    .squareImg{
        width: 120px;
        max-width: 120px;
    }
}